{% extends "base.html" %}

{% load bootstrap4 %}

{% block body_block %}
{% csrf_token %}
<section class="home-bg">
	
	<div class="container-stretch">
		
	</div>

	<div class="container-fluid">

		<div class="row">

			<!-- CREATE TASK VIEW -->

			<div class="col-sm-2">

				<h3 class="text-center"><i class="fa fa-bell head-fa"></i></h3>
			
				<ul class="list-group list-group-flush p-0">
					
					<li class="list-group-item gradient"><small><strong id="numCompleted"></strong> tasks completed today</small></li>

					<li class="list-group-item gradient"><small><strong id="numProgress"></strong> tasks in progress</small></li>

					<li class="list-group-item gradient"><small><strong id="numWaiting"></strong> tasks in waiting list</small></li>

					<li class="list-group-item gradient"><small><strong id="numTasks"></strong> total tasks</small></li>

					<li class="list-group-item gradient"><small><strong id="numHours">8</strong> total working hours</small></li>

					<li class="list-group-item gradient"><small><strong id="numSuccess">87.5%</strong> success rate today</small></li>

					<li class="list-group-item gradient"><small><strong id="numDiff">10%</strong> improvement from yesterday</small></li>

				</ul>

			</div>

			<!-- TASK LIST VIEW -->

			<div class="col-sm-10">

				<div class="row">

					<div class="col-sm-4 defaultHeight" ondrop="drop(event, this)"  ondragover="allowDrop(event)" id="waiting">

						<h3 class="text-center"><strong><i id="addTask" class="fa fa-plus new head-fa" onclick="newTask()"></i></strong></h3>

						<!-- Create task form -->

						<form class="collapse gradient" id="createForm" method="POST">{% csrf_token %}
							
							<div class="form-group">

								<input type="text" class="form-control bg-transparent form_create border-0" placeholder="Title" name="title"  autofocus="" required="">
							</div>

							<div class="form-group">

								<textarea name="content" class="form-control bg-transparent form_create border-0" required placeholder="Detail" autofocus=""></textarea>

							</div>
							<button class="btn gradient" onclick="createForm()" type='submit'>Create</button>

						</form>

						<!-- Wating tasks -->
						<div id="waitingTasks">
							
						</div>

					</div>

					<div class="col-sm-4 defaultHeight" ondrop="drop(event, this)"  ondragover="allowDrop(event)" id="inprogress">

						<h3 class="text-center"><i class="fa fa-square head-fa"></i></h3>

	 					<!-- Progress tasks -->

						<div id="inprogressTasks">
							
						</div>

					</div>

					<div class="col-sm-4 defaultHeight" ondrop="drop(event, this)"  ondragover="allowDrop(event)" id="complete">

						<h3 class="text-center"><i class="fa fa-check-square head-fa"></i></h3>
						
						<!-- Completed tasks -->

						<div id="completedTasks">

						</div>						

					</div>

				</div>

			</div>

		</div>

	</div>

</section>	

{% endblock body_block %}



