{% extends "base.html" %}

{% load bootstrap4 %}

{% block body_block %}

<section class="home-bg">

	<div class="container">

		<div class="row">

			<div class="col-md-5 mx-auto shadow rounded gradient p-5">

				<h4 class="text-center text-shadow pb-3">Be productive!</h4>

				<form class="login-form" method="POST">

					{% csrf_token %}

					{% bootstrap_form form %}

					<div class="text-center py-4">

						<button class="btn btn-custom" type="submit">LOG IN</button>	

						<input type="hidden" name="next" value="{{ next_page }}">

					</div>

				</form>

				<div class="text-center pt-3">

					<p class="shadow">Made with <i class="fa fa-heart text-danger"></i> by <strong>Brian Mwevi</strong><br>
						
						<a href="https://github.com/BrianMwevi/TaskManager" target="_blank" class="btn btn-md btn-custom text-dark">View on GitHub <i class="fa fa-external-link"></i></a>
								
					</p>
				
				</div>
			
			</div>
			
			</div>
			
		</div>

</section>

{% endblock body_block %}

