{% extends "base.html" %}

{% load bootstrap4 %}

{% block body_block %}

<section class="home-bg">

	<div class="container">

		<div class="row">

			<div class="col-md-5 mx-auto p-5 gradient my-auto">

				<h4 class="text-center text-shadow pb-3">Be productive!</h4>

				<form class="login-form" method="POST">

					{% csrf_token %}

					{% bootstrap_form form %}

					<div class="text-center py-4">

						<button class="btn btn-custom" type="submit">LOG IN</button>	

						<input type="hidden" name="next" value="{{ next_page }}">

					</div>

				</form>

			</div>

		</div>

	</div>

</section>

{% endblock body_block %}

