{% extends "base.html" %}

{% load bootstrap4 %}

{% block body_block %}

<section class="home-bg">
	
	<div class="container">

		<div class="row">
			
			<div class="col-md-5 mx-auto rounded gradient p-5">
		
				<h4 class="text-center">Sign Up</h4>
				
				<form class="user-form" method="POST">
					
				  {% csrf_token %}
				  
				  {% bootstrap_form form %}
				  
				  <div class="text-center">
				  	
				    <button class="btn btn-custom" type="submit">SIGN UP</button>
				    
				    <p>Already have an account? <a href="{% url 'accounts:login' %}" class="card-link text-primary">Log in</a></p>
				    
				  </div>
				  
				</form>
			
				<div class="text-center">

					<p class="shadow">Made with <i class="fa fa-heart text-danger"></i> by <strong>Brian Mwevi</strong><br>

						<button class="btn btn-sm btn-custom">
				
							<a href="https://github.com/BrianMwevi/TaskManager" target="_blank" class="nav-link text-dark">View on GitHub <i class="fa fa-external-link"></i></a>
				
						</button>
				
					</p>
				
				</div>

			</div>
			
		</div>
		
	</div>
	
</section>

{% endblock body_block %}

